<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositorypath" value="C:\Users\User\Documents\Visual Studio 2015\Projects\PlayCreateDiscover\Dependencies" />
  </config>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="False" />
  </packageRestore>
	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>


  <packageSources>


    <add key="NuGet official package source" value="https://go.microsoft.com/fwlink/?LinkID=206669" />


    <add key="NuGet official package source" value="https://go.microsoft.com/fwlink/?LinkID=206669" />


  </packageSources>
</configuration>