<div>
    Items
    <h2>Your Items (<span data-bind="text: items().length"></span>)</h2>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Current Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: items">
            <tr>
                <td><input data-bind="value: title" /></td>
                <td><strong data-bind="value: status"></strong></td>
                <td><select data-bind="options: $root.availablePrice, value: currentPrice, optionsText: 'priceName'"></select></td>
                <td data-bind="text: currentPrice().price"></td>
                <td><a href="#" data-bind="click: $root.removeItem">Remove</a></td>
            </tr>
        </tbody>
    </table>

    <button data-bind="click: addItem, enable: items().length < 5">Add another item</button>

    <h3 data-bind="visible: totalSurcharge() > 0">
        Total surcharge: $<span data-bind="text: totalSurcharge().toFixed(2)"></span>
    </h3>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Listed Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: dataItems">
            <tr>
                <td><input data-bind="value: id" /></td>
                <td><strong data-bind="value: status"></strong></td>
                @*<td><select data-bind="options: $root.availablePrice, value: currentPrice, optionsText: 'priceName'"></select></td>*@
                <td data-bind="text: listedPrice"></td>
                <td><a href="#" data-bind="click: $root.removeItem">Remove</a></td>
            </tr>
        </tbody>
    </table>
</div>
