<!DOCTYPE html>
<html data-ng-app="AngularAuthApp">
<head>

    <meta name="keywords" content="homeschool,home school,Huntsville,AL,books,classes,kids,camps,games,supplies" />
    <meta name="description" content="Homeschool community center and consignment store for the North Alabama community" />
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Play Create Discover</title>
    <link href="content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Home</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/manageAccount">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/addItemsMain">Add Items</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signupChoice">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr />

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-muted">Property of Play Create Discover LLC. Web: <a target="_blank" href="http://playcreatediscover.wix.com/i-wonder">PlayCreateDiscover.wix.com</a></p>
                </div>
                <div class="col-md-6">
                    <p class="text-muted">Created By: Randy Shirts</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd party libraries -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.min.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/loading-bar.min.js"></script>
    <script src="scripts/ng-currency.js"></script>
    <script src="scripts/smart-table.js"></script>

<!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/account/authInterceptorService.js?v=2"></script>
    <script src="app/account/authService.js?v=2"></script>
    <script src="app/addItems/itemsService.js?v=2"></script>
    <script src="app/account/tokensManagerService.js?v=2"></script>
    <!-- Load controllers -->
    <script src="app/main/indexController.js?v=2"></script>
    <script src="app/main/homeController.js?v=2"></script>
    <script src="app/account/loginController.js?v=2"></script>
    <script src="app/account/signupController.js?v=2"></script>
    <script src="app/account/manage/manageAccountController.js?v=2"></script>
    <script src="app/account/manage/changePasswordController.js?v=2"></script>
    <script src="app/account/manage/personalInfoController.js?v=2"></script>
    <script src="app/account/manage/changeEmailController.js?v=2"></script>
    <script src="app/account/forgotPasswordController.js?v=2"></script>
    <script src="app/account/resetPasswordController.js?v=2"></script>
    <script src="app/account/signupChoiceController.js?v=2"></script>
    <script src="app/account/existinguserController.js?v=2"></script>
    <script src="app/controllers/ordersController.js?v=2"></script>
    <script src="app/account/refreshController.js?v=2"></script>
    <script src="app/account/tokensManagerController.js?v=2"></script>
    <script src="app/account/emailSentController.js?v=2"></script>
    <script src="app/account/emailConfirmedController.js?v=2"></script>
    <script src="app/addItems/addItemsMainController.js?v=2"></script>
    <script src="app/addItems/addItemsSharedController.js?v=2"></script>
    <script src="app/addItems/addItemGridController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
    <script src="app/directives/compareDirective.js?v=2"></script>
    <script src="app/directives/onlyDigitsDirective.js?v=2"></script>
    <script src="app/directives/csselectDirective.js?v=2"></script>
    <!--<script src="app/directives/currencyDirective.js?v=2"></script>-->
</body>
</html>
