<div ng-controller="addItemsSharedController as shared">
    <form class="form-login" role="form" name="sharedAddForm" novalidate>
        <h2 class="form-login-heading">Consign a New Item</h2>
        <select class="form-control" placeholder="Item Type" data-ng-model="shared.itemInfo.itemType"
                name="type">
            <option value="" disabled selected>Item Type</option>
            <option value="book">Book</option>
            <option value="game">Game</option>
            <option value="video">Video</option>
            <option value="teachingAide">Teaching Aide</option>
            <option value="other">Other</option>
        </select>

        <input type="text" class="form-control" placeholder="ISBN" data-ng-model="shared.itemInfo.isbn" name="isbn" only-digits
               ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" ng-if="shared.itemInfo.itemType == 'book'"
               ng-minlength="10" ng-maxlength="13">
        <span style="color: red" ng-show="sharedAddForm.isbn.$dirty && sharedAddForm.isbn.$invalid">
            <span ng-show="sharedAddForm.isbn.$error.minlength">ISBN must be 10 or 13 digits</span>
            <span ng-show="sharedAddForm.isbn.$error.maxlength">ISBN must be 10 or 13 digits</span>
        </span>
        
        <select class="form-control" placeholder="Video Format" data-ng-model="shared.itemInfo.videoFormat"
                name="videoFormat" ng-if="shared.itemInfo.itemType == 'video'">
            <option value="" disabled selected>Video Format</option>
            <option value="dvd">DVD</option>
            <option value="vhs">VHS</option>
            <option value="blu-ray">Blu-Ray</option>
        </select>

        <select class="form-control" placeholder="Subject" data-ng-model="shared.itemInfo.subject"
                name="subject">
            <option value="" disabled selected>Subject</option>
            <option value="Math K-5">Math K-5</option>
            <option value="Math 6-8">Math 6-8</option>
            <option value="Math 9-12">Math 9-12</option>
            <option value="Math Other">Math Other</option>
            <option value="Reading Easy-Readers">Reading Easy-Readers</option>
            <option value="Reading 1-3">Reading 1-3</option>
            <option value="Reading 4-6">Reading 4-6</option>
            <option value="Reading 7-12">Reading 7-12</option>
            <option value="Reading Biography">Reading Biography</option>
            <option value="Reading Other">Reading Other</option>
            <option value="Curriculum K-2">Curriculum K-2</option>
            <option value="Curriculum 3-5">Curriculum 3-5</option>
            <option value="Curriculum 6-8">Curriculum 6-8</option>
            <option value="Curriculum 9-12">Curriculum 9-12</option>
            <option value="History K-6">History K-6</option>
            <option value="History 7-12">History 7-12</option>
            <option value="Science K-6">Science K-6</option>
            <option value="Science 7-12">Science 7-12</option>
            <option value="English K-6">English K-6</option>
            <option value="English 7-12">English 7-12</option>
            <option value="Music">Music</option>
            <option value="Foreign Language">Foreign Language</option>
            <option value="Art">Art</option>
            <option value="Games">Games</option>
            <option value="Videos">Videos</option>
            <option value="Preschool">Preschool</option>
            <option value="Teaching Aides">Teaching Aides</option>
            <option value="Parent/Teacher">Parent/Teacher</option>
            <option value="Other">Other</option>
        </select>

        <select class="form-control" placeholder="Condition" ng-change="shared.changedCondition()" data-ng-model="shared.itemInfo.condition"
                name="condition">
            <option value="" disabled selected>Condition</option>
            <option value="New">New</option>
            <option value="Like New">Like New</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            <option value="Beat Up">Beat Up</option>
        </select>
        <br />
        <div ng-hide="(shared.itemInfo.condition === '')">{{shared.conditionMessage}}</div>
        <br />

        <input type="text" class="form-control" placeholder="Title" data-ng-model="shared.itemInfo.title" name="title"
               ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" ng-maxlength="150" required>
        <span style="color: red" ng-show="sharedAddForm.title.$dirty && sharedAddForm.title.$invalid">
            <span ng-show="sharedAddForm.isbn.$error.required">Title is required</span>
            <span ng-show="sharedAddForm.isbn.$error.maxlength">Title may not be longer than 150 characters</span>
        </span>

        <input type="text" class="form-control" placeholder="Listing Price" name="price" data-ng-model="shared.itemInfo.price"
               ng-currency min="2" required> <!--ng-currency does blur automatically-->
        <span style="color: red" ng-show="sharedAddForm.price.$dirty && sharedAddForm.price.$invalid">
            <span ng-show="sharedAddForm.price.$error.required">Price is required</span>
            <span ng-show="sharedAddForm.price.$error.min">Price must be $2 or higher</span>
        </span>
        <br />
        <input type="radio" ng-model="shared.itemInfo.discounted" value="isDiscounted" ng-click="shared.changeDiscount()"> Discount this item
        <br />
        <input type="radio" ng-model="shared.itemInfo.discounted" value="notDiscounted" ng-click="shared.changeDiscount()"> Do not Discount
        <br />
        <br />
        <div data-ng-class="(shared.itemInfo.discounted === 'isDiscounted') ? 'alert alert-success' : 'alert alert-warning'">{{shared.discountMessage}}</div>
        <br />
        <br />
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="shared.addItem()"
                ng-disabled="(!sharedAddForm.type.$dirty) ||
                            (!sharedAddForm.subject.$dirty) ||
                            (!sharedAddForm.condition.$dirty) ||
                            (sharedAddForm.isbn.$dirty && sharedAddForm.isbn.$invalid) ||
                            (sharedAddForm.title.$dirty && sharedAddForm.title.$invalid) ||
                            (sharedAddForm.price.$dirty && sharedAddForm.price.$invalid)">
            <span ng-hide="shared.saveBusy"><i class="fa fa-refresh fa-spin"></i> Please wait...</span>
            <span ng-show="shared.saveBusy">Add Item</span>
        </button>
        <div data-ng-hide="shared.message == ''" data-ng-class="(shared.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{shared.message}}
        </div>
         
    </form>
</div>