<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" ng-hide="existingUsers.length">
        <form class="form-existing" role="form">
            <h2 class="form-login-heading">Sign up</h2>
            <input type="email" class="form-control" placeholder="Email" data-ng-model="userinfo.emailaddress" required autofocus>
            <input type="password" class="form-control" placeholder="Password" data-ng-model="userinfo.password" required>
            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="userinfo.passwordrepeat" required>
            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()" ng-disabled="form-existing.$invalid">Submit</button>
            <!--<div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>-->
        </form>
    </div>
    <div class="col-md-4" ng-show="existingUsers.length">
        Select the check box next to the record which matches your information.

        Then press 'submit'.

    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>

    <div class="col-md-8">
        <table class="table table-striped table-bordered table-hover" ng-show="existingUsers.length">
            <thead>
            <tr>
                <th>Select</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="user in existingUsers">
                <td>
                    <input type="checkbox" data-ng-model="user.isSelected">
                </td>
                <td>
                    {{ user.firstName }}
                </td>
                <td>
                    {{ user.lastName }}
                </td>
                <td>
                    {{ user.phoneNumber }}
                </td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" ng-show="existingUsers.length">
        <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="sendConfirmation()">Submit</button>
    </div>
    <div class="col-md-4"></div>
</div>