<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form class="form-login" role="form" name="forgotpw">
            <h2 class="form-login-heading">Recover Password</h2>
            <input type="email" class="form-control" placeholder="Email" data-ng-model="userinfo.emailaddress" name="emailaddress"
                   required autofocus>
            <span style="color: red" ng-show="forgotpw.emailaddress.$dirty && forgotpw.emailaddress.$invalid">
                <span ng-show="forgotpw.emailaddress.$error.required">Email is required.</span>
                <span ng-show="forgotpw.emailaddress.$error.email">Invalid email address. Must include '@' and '.' (e.g. myaddress@yahoo.com)</span>
            </span>

            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="recoverPassword()"
                    ng-disabled="(forgotpw.emailaddress.$dirty && forgotpw.emailaddress.$invalid)">
                <span ng-hide="busyDisabled"><i class="fa fa-refresh fa-spin"></i> Please wait...</span>
                <span ng-show="busyDisabled">Submit</span>
            </button>
            <div data-ng-hide="message == ''" data-ng-class="(sentSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
        <br/>
        <br/>
        <br/>
        <p>If you do not see the email in your inbox, please check your spam folder.</p>
    </div>
</div>
