
<div class="row">
    <div class="col-md-3">
        &nbsp;
    </div>
    <div class="col-md-6">
        <form role="form">
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="Email Address" data-ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" data-ng-model="loginData.password" required>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="loginData.useRefreshTokens"><strong> Use Refresh Tokens</strong>
                </label>
            </div>-->
            <button class="btn btn-md btn-info btn-block" type="submit" data-ng-click="login()">
                <span ng-hide="busyDisabled"><i class="fa fa-refresh fa-spin"></i> Please wait...</span>
                <span ng-show="busyDisabled">Login</span>
            </button>


            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </form>
        <div>
            <!--<a class="btn btn-info" href="#/forgotPassword" role="button">Forgot Password &raquo;</a>-->
            <a target="_blank" href="#/forgotPassword">Forgot Password</a>
        </div>
    </div>
    <!--<div class="col-md-4">
        <h2 class="form-login-heading">Social Logins</h2>
        <p>Or you can login using one of the social logins bleow</p>
        <button class="btn btn-large btn-facebook btn-block" type="button" data-ng-click="authExternalProvider('Facebook')"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
        <button class="btn btn-large btn-google-plus btn-block" type="button" data-ng-click="authExternalProvider('Google')"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
    </div>-->
    <div class="col-md-3">
        &nbsp;
    </div>
</div>
