<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" ng-hide="existingUsers.length">
        <form class="form-login" role="form" name="resetpassword">
            <h2 class="form-login-heading">Reset Password</h2>
            <input type="email" class="form-control" placeholder="Email" data-ng-model="userinfo.emailaddress" name="emailaddress"
                   ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required autofocus>
            <span style="color: red" ng-show="resetpassword.emailaddress.$dirty && resetpassword.emailaddress.$invalid">
                <span ng-show="resetpassword.emailaddress.$error.required">Email is required.</span>
                <span ng-show="resetpassword.emailaddress.$error.email">Invalid email address.</span>
            </span>

            <input type="password" class="form-control" placeholder="Password" data-ng-model="userinfo.password" name="password"
                   ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required>
            <span style="color: red" ng-show="resetpassword.password.$dirty && resetpassword.password.$invalid">
                <span ng-show="resetpassword.password.$error.required">Password is required.</span>
            </span>

            <input type="password" class="form-control" placeholder="Confirm Password" data-ng-model="userinfo.passwordrepeat"
                   data-password-verify="userinfo.password" name="passwordrepeat" ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required>
            <span style="color: red" ng-show="resetpassword.passwordrepeat.$dirty && resetpassword.passwordrepeat.$invalid">
                <span ng-show="resetpassword.passwordrepeat.$error.required">Confirm password.</span>
                <span ng-show="resetpassword.passwordrepeat.$error.passwordVerify">Passwords do not match.</span>
            </span>

            <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="updatePassword()"
                    ng-disabled="(resetpassword.emailaddress.$dirty && resetpassword.emailaddress.$invalid) ||
                                (resetpassword.password.$dirty && resetpassword.password.$invalid) ||
                                (resetpassword.passwordrepeat.$dirty && resetpassword.passwordrepeat.$invalid)">
                <span ng-hide="busyDisabled"><i class="fa fa-refresh fa-spin"></i> Please wait...</span>
                <span ng-show="busyDisabled">Submit</span>
            </button>
            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </form>
    </div>
</div>
