<form class="form-login" role="form" name="changepassword" ng-controller="changePasswordController as changepw">
    <h2 class="form-login-heading">Reset Password</h2>

    <input type="password" class="form-control" placeholder="Current Password" data-ng-model="changepw.userInfo.currentPassword" name="currentpassword"
           ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required>
    <span style="color: red" ng-show="changepassword.currentpassword.$dirty && changepassword.currentpassword.$invalid">
        <span ng-show="changepassword.currentpassword.$error.required">Password is required</span>
    </span>

    <input type="password" class="form-control" placeholder="New Password" data-ng-model="changepw.userInfo.newPassword" name="newpassword"
           ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required>
    <span style="color: red" ng-show="changepassword.newpassword.$dirty && changepassword.newpassword.$invalid">
        <span ng-show="changepassword.newpassword.$error.required">Password is required</span>
    </span>

    <input type="password" class="form-control" placeholder="Confirm New Password" data-ng-model="changepw.userinfo.passwordrepeat"
           data-password-verify="userinfo.password" name="passwordrepeat" ng-change="onchange()" ng-model-options="{updateOn: 'blur' }" required>
    <span style="color: red" ng-show="changepassword.passwordrepeat.$dirty && changepassword.passwordrepeat.$invalid">
        <span ng-show="changepassword.passwordrepeat.$error.required">Confirm password.</span>
        <span ng-show="changepassword.passwordrepeat.$error.passwordVerify">Passwords do not match</span>
    </span>

    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="changepw.updatePassword()"
            ng-disabled="(changepassword.currentpassword.$dirty && changepassword.currentpassword.$invalid) ||
                                (changepassword.newpassword.$dirty && changepassword.newpassword.$invalid) ||
                                (changepassword.passwordrepeat.$dirty && changepassword.passwordrepeat.$invalid)">
        <span ng-hide="changepw.busyDisabled"><i class="fa fa-refresh fa-spin"></i> Please wait...</span>
        <span ng-show="changepw.busyDisabled">Submit</span>
    </button>
    <div data-ng-hide="changepw.message == ''" data-ng-class="(changepw.savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{changepw.message}}
    </div>
</form>
