<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\DataModel\DataModel.Data\packages.config" />
  <repository path="..\POS\DesktopClient\ManagementTool\packages.config" />
  <repository path="..\POS\DesktopClient\RocketPos.Common\packages.config" />
  <repository path="..\POS\DesktopClient\RocketPos.Inventory\packages.config" />
  <repository path="..\POS\DesktopClient\RocketPos.POS\packages.config" />
  <repository path="..\POS\DesktopClient\RocketPOS\packages.config" />
  <repository path="..\Tests\Pcd.Tests\Pcd.Tests.CommonTests\packages.config" />
  <repository path="..\Tests\Pcd.Tests\Pcd.Tests.DataTests\packages.config" />
  <repository path="..\Tests\Pcd.Tests\Pcd.Tests.InvTests\packages.config" />
  <repository path="..\Web\PcdWeb.Application\packages.config" />
  <repository path="..\Web\PcdWeb.Core\packages.config" />
  <repository path="..\Web\PcdWeb.EntityFramework\packages.config" />
  <repository path="..\Web\PcdWeb.Web\packages.config" />
  <repository path="..\Web\PcdWeb.WebApi\packages.config" />
</repositories>