<div id="footer" style="margin-top: 10px">
    <div class="container">
        <p class="text-muted">
            Play Create Discover LLC © @(DateTime.Now.Year). For more information got to <a target="_blank" href="http://playcreatediscover.wix.com/i-wonder">Play Create Discover</a>.
        </p>
    </div>
</div>
